/*Login*/
.container{
  margin-left: 80px;
}
.container .navbar-brand{
  font-size: 30px;
  font-weight: bold;
  font-family: Arial;
}
#navbarNavAltMarkup .btn {
  margin-left: 60px;
}
body {
  margin: 0;
  padding: 0;
  background-image: url("img/bg2-01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#login .container #login-row #login-column #login-box {
  margin-top: 150px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
  padding-bottom: 50px;
}

