body {
	background-image: url("img/bg2-01.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.container {
	margin-left: 80px;
}

.container .navbar-brand {
	font-size: 30px;
	font-weight: bold;
	font-family: Arial;
}

#navbarNavAltMarkup .btn {
	margin-left: 60px;
}

h2 {
	color: white;
}
